.vjs-midroll-marker
{
	width: 5px;
	height: 100%;
	background-color: white;
	position: absolute;
}

.vjs-ad-playing .vjs-midroll-marker
{
	display: none;
}

.vjs-ad-playing .vjs-vpaid-wrapper
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.vjs-skip-button
{
	position: absolute;
	z-index: 2;
	cursor: pointer;
	padding: 10px;
	background: black;
	right: 0;
	font-size: 16px;
	top: 75%;
}